// fonts
@import "./shared/fonts";

//components
@import "./components/header";

// pages
@import "./index";

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", "Helvetica";
}

.self-typed {
  font-size: 31px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}

.absolute {
  position: absolute;
}

@media (max-width: 768px) {
  .hero-welcome-text {
    margin-top: 40px;
  }
}
